/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*CSS reset END*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box {
    width: 920px;
    height: 500px;
    margin: 0 auto;
    padding: 20px 20px;
    background-color: rgb(254, 247, 216);
    border: 5px solid black;
    border-radius: 10px;
    z-index: 2;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    padding: 10px 5px;
}

.searchBox {
    display: flex;
    align-items: center;
}

.searchBox input {
    font-size: 18px;
    border: 3px solid black;
    padding: 10px 20px;
    margin: 0px 5px;
}

.searchBox button {
    line-height: 21px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
    border: 3px solid black;
    padding: 10px 20px;
    margin: 0px 10px;
}

.searchBox button:hover {
    background-color: rgb(210, 188, 231);
    cursor: pointer;
}

.bottom {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    height: calc(100% - 72px);
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
}

.card {
    padding: 18px 20px;
    margin: 5px 15px;
    background-color: #FFC9CA;
    border-radius: 10px;
    width: 230px;
}

.card h2 {
    font-size: 26px;
    font-weight: 600;
}

.card h4 {
    height: 80px;
}

.card .remain {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 60px;
    color: red;
}

.card .func {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.card .func img {
    border: 3px solid black;
    padding: 10px;
}

.bgIcon {
    top: 10px;
    font-size: 80px;
    /*Don't select*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.notice {
    font-weight: 600;
    font-size: 30px;
    width: 100%;
    text-align: center;
}

.lastUpdate {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

@media screen and (min-width: 807px) and (max-width: 980px) {
    .box {
        background-color: aquamarine;
    }

    .card {
        padding: 18px 20px;
        margin: 5px 50px;
        background-color: #FFC9CA;
        border-radius: 10px;
        width: 230px;
    }
}

@media screen and (min-width: 100px) and (max-width: 807px) {
    .box {
        width: 300px;
        height: 88%;
        background-color: rgb(255, 255, 127);
    }

    .top {
        flex-direction: column;
    }

    .bottom {
        height: calc(100% - 120px);
        justify-content: center;
    }

    .card {
        padding: 18px 20px;
        margin: 5px 10px;
        background-color: #FFC9CA;
        border-radius: 10px;
        width: 200px;
    }

    .searchBox input {
        width: 170px;
    }

    .searchBox button {
        line-height: 21px;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: 600;
        border: 3px solid black;
        padding: 10px 10px;
        margin: 0px 5px;
    }
}